<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="magentech" translate="label" sortOrder="1">
			<label>Magentech.com</label>
		</tab>
		<section id="listingextend" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
			<class>separator-top</class>
			<label>SM Listing Extend</label>
			<tab>magentech</tab>
			<resource>Sm_ListingExtend::config_listingextend</resource>
			<group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General Options</label>
				<field id="isactive" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enabled Extensions</label>
					<source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
				</field>
				<field id="display_title" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Display Title</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="title" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Title</label>
				</field>
				<field id="target" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Target</label>
					<source_model>Sm\ListingExtend\Model\Config\Source\Target</source_model>
				</field>
				<field id="class_suffix" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Class Suffix</label>
				</field>
				<field id="item_row" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Number rows of items</label>
					<validate>required-entry integer validate-greater-than-zero</validate>		
				</field>					
				<field id="heading1" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>For devices have screen width from 1200px up to greater.</label>
					<frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
				</field>				
				<field id="nb_column1" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Column</label>
					<source_model>Sm\ListingExtend\Model\Config\Source\ColumnDevices</source_model>
				</field>
				<field id="heading2" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>For devices have screen width from 992px up to 1199px.</label>
					<frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
				</field>
				<field id="nb_column2" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Column</label>
					<source_model>Sm\ListingExtend\Model\Config\Source\ColumnDevices</source_model>
				</field>
				<field id="heading3" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>For devices have screen width from 768px up to 991px.</label>
					<frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
				</field>
				<field id="nb_column3" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Column</label>
					<source_model>Sm\ListingExtend\Model\Config\Source\ColumnDevices</source_model>
				</field>
				<field id="heading4" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>For devices have screen width from 480px up to 767px.</label>
					<frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
				</field>
				<field id="nb_column4" translate="label" type="select" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Column</label>
					<source_model>Sm\ListingExtend\Model\Config\Source\ColumnDevices</source_model>
				</field>
				<field id="heading5" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>For devices have screen width less than or equal 479px.</label>
					<frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
				</field>
				<field id="nb_column5" translate="label" type="select" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Column</label>
					<source_model>Sm\ListingExtend\Model\Config\Source\ColumnDevices</source_model>
				</field>			
			</group>

			<group id="source_options" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Source Options</label>
				<field id="listing_type" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Listing Type</label>
					<source_model>Sm\ListingExtend\Model\Config\Source\ListSource</source_model>
				</field>				
				<field id="price_from" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Under Price</label>
					<validate>required-entry validate-currency-dollar</validate>
					<depends>
						<field id="listing_type">underprice</field>
					</depends>						
				</field>	
				<field id="filter_order_by" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Product Field to Order By</label>
					<source_model>Sm\ListingExtend\Model\Config\Source\OrderBy</source_model>
					<depends>
						<field id="listing_type">fieldproducts</field>
					</depends>					
				</field>		
				<field id="product_category" translate="label" type="multiselect" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Select Category</label>
					<source_model>Sm\ListingExtend\Model\Config\Source\ListCategory</source_model>
				</field>				
				<field id="product_featured" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Featured Products</label>
					<source_model>Sm\ListingExtend\Model\Config\Source\FeaturedOptions</source_model>
				</field>				
				<field id="product_order_by" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Product Field to Order By</label>
					<source_model>Sm\ListingExtend\Model\Config\Source\OrderBy</source_model>
					<depends>
						<field id="listing_type">categories</field>
					</depends>					
				</field>
				<field id="product_order_dir" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Ordering Direction</label>
					<source_model>Sm\ListingExtend\Model\Config\Source\OrderDirection</source_model>
				</field>
				<field id="product_limitation" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Product Limitation</label>
					<comment>Max Product 0 to unlimit length!</comment>
					<validate>required-entry integer validate-greater-than-zero</validate>					
				</field>				
			</group>
			<group id="product" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Product Options</label>
				<field id="heading_prod_title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Product Title</label>
					<frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
				</field>
				<field id="product_title_display" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Display</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="product_title_maxlength" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Max Length</label>
					<validate>required-entry integer validate-greater-than-zero</validate>
				</field>
				<field id="heading_prod_desc" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Product Description</label>
					<frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
				</field>
				<field id="product_description_display" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Display</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="product_description_maxlength" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Max Length</label>
					<validate>required-entry integer validate-greater-than-zero</validate>
				</field>
				<field id="heading_other" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Others</label>
					<frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
				</field>
				<field id="product_price_display" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Display Price</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="product_reviews_count" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Display Reviews Summary</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>

				<field id="product_readmore_display" translate="label" type="select" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Display Readmore Link</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="product_readmore_text" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Readmore Text</label>
				</field>
			</group>

			<group id="image" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Image Options</label>
				<field id="product_image_heading" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Get Image from Product Image</label>
					<frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
				</field>
				<field id="img_from_product_image" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Get From Product Image</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="product_desc_heading" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Get Image from Product Description</label>
					<frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
				</field>
				<field id="img_from_product_description" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Get From Product Description</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="img_order" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Order to Get</label>
					<validate>required-entry</validate>
				</field>
				<field id="img_function" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Resize</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="img_width" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Image Width</label>
					<validate>required-entry integer validate-greater-than-zero</validate>
				</field>
				<field id="img_height" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Image Height</label>
					<validate>required-entry integer validate-greater-than-zero</validate>
				</field>
				<field id="img_background" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Background Color</label>
					<validate>color</validate>
					<comment>Please Click the text box to select color.</comment>
				</field>
				<field id="img_replacement" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Image Replacement</label>
					<validate>required-entry</validate>
					<comment>Only when the product has no image, the module will take photos from placeholder to replace</comment>
				</field>
			</group>

			<group id="effect" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Effect Options</label>												
				<field id="nav" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Display Navigation</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="loop" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Display Loop</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>	
				<field id="margin" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Margin Item</label>
					<validate>required-entry integer validate-greater-than-zero</validate>
				</field>
				<field id="slideBy" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Slide By</label>
					<validate>required-entry integer validate-greater-than-zero</validate>
				</field>		
				<field id="autoplay" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Auto Play</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="autoplayHoverPause" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Pause On Hover</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="autoplayTimeout" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Auto Play Timeout</label>
					<validate>required-entry integer validate-greater-than-zero</validate>
				</field>					
				<field id="autoplaySpeed" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Auto Play Speed</label>
					<validate>required-entry integer validate-greater-than-zero</validate>
				</field>
				<field id="navSpeed" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Navigation Speed</label>
					<validate>required-entry integer validate-greater-than-zero</validate>
				</field>
				<field id="startPosition" translate="label" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Start Position Item</label>
					<validate>required-entry integer validate-zero-or-greater</validate>
				</field>	
				<field id="mouseDrag" translate="label" type="select" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Mouse Drag</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="touchDrag" translate="label" type="select" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Touch Drag</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>					
			</group>			
			
			<group id="advanced" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Advanced Options</label>
				<field id="pretext" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Pre-text</label>
				</field>
				<field id="posttext" translate="label" type="textarea" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Post-text</label>
				</field>
				<field id="use_cache" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Caching</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>Select whether to cache the content of this module.</comment>
				</field>
				<field id="cache_time" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Cache Time</label>
					<comment>The time (in seconds) before the module is recached.</comment>
					<depends>
						<field id="use_cache">1</field>
					</depends>
				</field>
			</group>

			<group id="product_information" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Product Information</label>
				<field id="author" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label><![CDATA[<p>Author: <a target="_blank" title="Magentech" href="http://www.magentech.com">Magentech</a></p>
											<p>Vesion: 1.1.0</p>
											<p>Userguide: <a target="_blank" title="Userguide" href="http://www.magentech.com/documentation/sm-listing-extend/">Userguide</a></p>
											<p>Support: <a target="_blank" href="http://www.magentech.com/forum">http://www.magentech.com/forum</a></p>
								]]></label>
					<frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
				</field>
			</group>
		</section>
	</system>
</config>