.default-style{
  .resp-accordion{
    display: none;
  }

  .resp-tabs-list{
    li{
      background-color: #fff;
      float: left;
      display: block;
      border: 1px solid #ddd;
      border-bottom: none;
      font-size: 133.33%;
      color: #444;
      padding: 10px 30px !important;
      margin: 0 -1px 0 0;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 700;
      position: relative;


      &.resp-tab-active{
        &:before{
          content: "";
          display: inline-block;
          position: absolute;
          height: 4px;
          left: -1px;
          right: -1px;
          top: -4px;
          z-index: 3;
        }

        &:after{
          content: "";
          background-color: #fff;
          position: absolute;
          height: 5px;
          left: 0;
          right: 0;
          bottom: -2px;
        }
      }
    }
  }

  .resp-tabs-container{
    clear: both;
    .resp-tab-content{
      display: none;

      &.resp-tab-content-active{
        display: block;
      }
    }
  }
}

/* RTL */
.direction_rtl{
  .default-style .resp-tabs-list li{
    float: right;
    margin: 0 0 0 -1px;
  }
}
