.btn-art,
.art-category-description .btn-art{
    color: #fff;
    background-color: #08357a;
    border-color: #08357a;
}

.btn-art:visited,
.art-category-description .btn-art:visited{
    color: #fff;
}

/*SM Basic Product*/
.art-featured-product .price-box,
.art-case-quantity .price-box{
 display:inline;
}

.art-featured-product .item{
	height:116px;
}

/*Checkout Page*/
.checkout-validate-address .form.validate .addressOption .addressRadio{
  right: -7px;
  top: 10px;
}

.checkout-validate-address .form.validate .addressOption .addressLabel{
  padding: 5px 0 5px 0 !important;
  margin-left: 25px;
}

.authentication-wrapper button span{
   color:black;
}

.product-item-details .art-overweight{
	color: #fe0000;
}

/*About Us*/
.aboutus-page .des-about-us{
  font-size: 112%;
  line-height:1.5;
}

.aboutus-page .why-list li > span{
  display: block;
  padding: 5px 0 7px;
  background: url(/pub/static/frontend/Sm/market/en_US/images/border-bottom-bs.png) repeat-x left bottom;
}

.aboutus-page .des-about-us ul > li{
 margin-left:10px;
}

.aboutus-page .art-desc h5{
 color:#ff0000;
 margin-bottom:5px;
}

.art-bold-italic{
 font-weight:bold;
 font-style:italic;
}

/*Footer*/
.socials-wrap{
 display:inline-block !important;
}

.footer-container .socials-wrap ul .li-social.art-email-social a{
	background-color: rgb(60, 159, 64);
}

.art-fa-email:before{
	content: "\f003";
}

.footer-container .socials-wrap ul .li-social.art-phone-social a{
	background-color: #fbbc05;
}

.art-fa-phone:before{
	content: "\f095";
}
.footer-middle {
    padding: 50px 0 40px;
}
.footer-container .footer-top{
  padding: 30px 0;
  background-color: #f2f2f2;
border-bottom:0;
}

.footer-top .title-middle-footer{
color: #222;
      font-size: 133.33%;
      text-transform: uppercase;
      font-weight: 700;
      white-space: nowrap;
      display: table-cell;
      vertical-align: top;
      padding-top: 8px;
}

.footer-top .block-subscribe-footer .form.subscribe{
	display: table-cell;
        width: 100%;
        padding:0 30px 0 20px;
}

.footer-top .block-subscribe-footer .form.subscribe .input-box{
	display: table-cell;
        vertical-align: top;
        min-width: 700px;
}

.footer-style-4 .footer-top .block-subscribe-footer .form.subscribe .input-box #newsletter-footer{
padding-left: 20px;
        color: #8c8c8c;
        height: 40px;
        border:none;
        border-radius: 0;
        -webkit-border-radius: 0;
        border-top-left-radius: 20px;
        -webkit-border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        -webkit-border-bottom-left-radius: 20px;
}

.footer-style-4 .footer-top .block-subscribe-footer .form.subscribe .action-button{
display: table-cell;
    vertical-align: top;
}

.footer-style-4 .footer-top .block-subscribe-footer .form.subscribe .action-button button{
font-weight: 700;
            height: 40px;
            border-top-right-radius: 20px;
            -webkit-border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            -webkit-border-bottom-right-radius: 20px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .footer-style-4 .footer-top .block-subscribe-footer .form.subscribe .input-box{
    min-width: 270px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer-style-4 .footer-top .block-subscribe-footer .form.subscribe .input-box{
    min-width: 380px;
  }
}

@media (max-width: 767px) {
  .footer-style-4 .footer-top .title-middle-footer{
        display: block;
        margin-bottom: 10px;
      }
  .footer-style-4 .footer-top .block-subscribe-footer .form.subscribe{
          display: block;
	padding:0;
        }
.footer-style-4 .footer-top .block-subscribe-footer .form.subscribe .input-box{
        min-width: 190px;
      }
}

/*Product Details Page*/
.art-product-short-description{
 overflow:hidden;
 font-size:1.2em;
}

.art_alink,
.art-product-description a,
.art-category-description a{
 text-decoration: underline;
 color: #08357a;
}

.art_alink:visited,
.art-product-description a:visited,
.art-category-description a:visited{
 color: #08357a;
}

.prices-tier.items{
 font-size: 1.15em;
}

.prices-tier .item > .price-tier_price > span > .price,
.prices-tier .item > .benefit,
.product-item-details .price-box .minimal-price-link .price-wrapper,
.art-red{
 color: #e74c3c;
}

.catalog-product-view .fotorama__stage__frame .fotorama__img{
	position:initial;
}

/*Category Page*/

.category-view .category-image img,
.art-fr{
 float:right;
}

.category-view{
 overflow:auto;
}

.products-grid .item .item-inner .box-info .product-item-inner{
 margin-bottom:25px;
}

.products-grid .item .item-inner .box-image a img.art-category-listing-image{
 width:80%;
}

.art-catalog-listing-description ul > li::before,
.art-product-short-description .value ul > li::before,
.aboutus-page .des-about-us ul > li::before,
.shipping ul > li >h5::before,
.art-category-description ul > li::before,
ul.art-bullet-list > li::before{
 content: '\f111';
 font-family: FontAwesome;
 padding-right:1em;
 font-size:.35em;
 position: relative;
 bottom: .8em;
 color: #08357a;
}

.art-category-description{
  font-size: 1.15em;
}
.art-category-children .sm-categories{
	margin:0;
}

.category-electronic-surveillance-eas-systems .modal-footer{
	display:none;
}

@media screen and (max-width:479px){
.sm-categories.cat05-2 .cat-wrap .content-box{
	padding: 0 15px 0 0;
}
}
@media screen and (min-width:426px){
.art-category-children .cat-wrap.theme2 .content-box .child-cat .cat-title a{
  font-size: 125%;
}
}

@media screen and (max-width:425px){
.art-product-list .price-box .minimal-price-link{
  display: block;
}

.products-grid .art-product-list .item .item-inner .box-info  .price-box{
 height:auto;
}

}

/*Shop By Store*/
.shop-by-store .col-lg-6{
	height: 100px;
}

.store-supplies-subcat-images{
	float:left;
	width:90px;
}

.store-supplies-subcat-content{
	margin-left:100px;
}
@media screen and (max-width: 1199px) {
.sm-imageslider-inner.theme2 .item .item-info .item-desc .item-desc-inner{
	font-size:10px;
}

.sm-imageslider-inner.theme2 .item .item-info .item-title{
	display:none;
}

}

/*Checkpoint System */
.art-checkpoint img{
	margin-right:25px;
}
@media screen and (max-width: 1199px) {
	.art-checkpoint img{
		float:none;
	}
}
@media screen and (min-width: 1200px) { 
	.art-checkpoint{
		height:300px;
	}
}
	
/*Menu*/
.header-style-2 .header-middle{
  padding: 14px 0 8px;
}

.header-style-2 .header-middle .middle-right-content .minicart-header{
  bottom: -54px;
  z-index: 1041;
}

.sm_megamenu_wrapper_horizontal_menu ul.sm_megamenu_menu{
  font-size:11px;
}

.sm_megamenu_wrapper_horizontal_menu ul.sm_megamenu_menu #sm_megamenu_125{
	font-size:145%;
	color: #e74c3c;
}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_2columns{
  padding:10px;
  background-color:#f6f6f6;
}

.art-megamenu-title,
.art_category_title > .sm_megamenu_head_item > .sm_megamenu_title > a > .sm_megamenu_title_lv-3,
.art_category_title > .sm_megamenu_head_item > .sm_megamenu_title > span.sm_megamenu_title_lv-3
{
  color: #08357a;
}

.art_category_title > .sm_megamenu_head_item > .sm_megamenu_title > a > .sm_megamenu_title_lv-3,
.art_category_title > .sm_megamenu_head_item > .sm_megamenu_title > span.sm_megamenu_title_lv-3{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 108.33% !important;
  line-height: 2em;
  padding: 3px 0;
}
.art_category_title > .sm_megamenu_head_item > .sm_megamenu_title > a > .sm_megamenu_title_lv-3:hover,
.art_category_title > .sm_megamenu_head_item > .sm_megamenu_title > .sm_megamenu_title > a > .sm_megamenu_title_lv-3:hover{
	color:#e74c3c;
}

.art_category_title > .sm_megamenu_head_item > .sm_megamenu_title > .sm_megamenu_title > a > .sm_megamenu_title_lv-3:hover{
	text-decoration: underline;
}

.art-megamenu-title{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 125%;
}

.art-megamenu-image a.btn{
  color:white;
}

.art-megamenu-image img.tissuepaper{
	float:left;
}

.header-style-2 .header-bottom .sidebar-megamenu .megamenu-content-sidebar .menu-ver-content{
	z-index: 1041 !important;
}

.sm_megamenu_wrapper_vertical_menu{
	z-index: 1041;
}

/*Ellipsis
https://codepen.io/martinwolf/pen/qlFdp
*/
.ellipsis2Line,
.cat-wrap.theme2 .content-box .child-cat .cat-title a.ellipsis2Line,
.ellipsis3Line{
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow:hidden;
}

.ellipsis3Line{
  -webkit-line-clamp: 3;
  height:55px;
}

.ellipsis2Line,
.cat-wrap.theme2 .content-box .child-cat .cat-title a.ellipsis2Line{
  -webkit-line-clamp: 2;
}

.clamped,
.cat-wrap.theme2 .content-box .child-cat .cat-title a.clamped {
  line-height: 1.5;
  overflow: hidden;
  position: relative;
}

.ellipsis1Line,
.ellipsis1Line ul > li{
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}

.testimonials-style-2 .testimonials-info .name-company{
padding-top:10px;
font-weight:600;
}

.testimonials-info.no-margin{
 margin:auto;
}

.description-client.clamped.ellipsis2Line{
    -webkit-line-clamp: 3;
    height:55px;
}

.block-subscribe-home {
background: url('/pub/media/wysiwyg/Newsletter/Newsletter_Background_270x250.png') no-repeat 0 0;
background-position:center;
}
.art-request-catalog-block{
	background: url('/pub/media/wysiwyg/request-catalog/Request_Catalog.jpg');
}
.art-request-catalog-bloc .art-request-catalog-button{
	height:40px;
}

.art-request-catalog-block .art-request-catalog-button a{
	background-color: #08357a;
}

.art-request-catalog-block .art-request-catalog-button a:hover{
	background-color: #444;
}

@media screen and (min-width: 1200px) {
.art-request-catalog-block .art-request-catalog-button a:after{
    content: '\f1d8';
    color: #fff;
    font-family: FontAwesome;
    width: 47px;
    height: 40px;
}
}

@media screen and (max-width: 1199px) {
.art-request-catalog-block .newsletter-title{
	margin-bottom:0;
}	

.art-request-catalog-block .description-newsletter{
	margin:0;
}
.art-request-catalog-block .art-request-catalog-button{
	padding:0;
}
.art-request-catalog-block .art-request-catalog-button a{
    background-image: url(/pub/static/version1497729795/frontend/Sm/market/en_US/images/icon-image.png);
    background-repeat: no-repeat;
    background-position: -110px -6px;
    width: 47px;
    height: 40px;
}
.art-request-catalog-block .art-request-catalog-button a span,
.description-newsletter{
	display:none;
}
}

img.popularCategoryIcon{
    position: absolute;
    width: 30px;
    right: 4%;
    top:104%;
}

.popularCategoryImage{
  margin-bottom:1px;
  padding:15px;
  width:230px;
}

@media screen and (max-width:425px){
.popularCategoryImage{
  padding:20px;
}
}

.popularCategories{
 width:80%;
 height:50px;
background-color: rgba(255, 255, 255, 0);
white-space:pre-wrap;
color: #08357a;
font-weight:bold;
border-top: 1px solid #08357a;
border-bottom: 1px solid #08357a;
font-size:14px;
text-transform:uppercase;
}

/*Extra*/
.mb25{
 margin-bottom:25px;
}

.mt25{
margin-top:25px;
}

.shipping ul >li,
.mb10{
 margin-bottom:10px;
}

.mt10{
 margin-top:10px;
}

.art-fl{
	float:left;
}

.art-np{
	padding:0;
}

.fs108, .fs108 a {
 font-size:108.33%;
}

.art-before-footer .static-image-block-2{
	margin: 30px 0 25px;
	
}

.art-cart-button button.tocart{
 float: left;
 margin-right: 5px;
 display: inline-block;
 height: 30px;
 line-height: 28px;
 text-align: center;
 background: none;
 border-width: 1px !important;
 border-style: solid !important;
 border-color: rgb(221, 221, 221) !important;
 border-image: initial !important;
 padding: 0 10px 0 10px !important;
}

.art-cart-button button.tocart span{
 font-weight: 700;
 color: rgb(102, 102, 102);
}

.art-cart-button button.tocart::before{
 content: "";
 display: inline-block;
 width: 17px;
 height: 15px;
 position: relative;
 top: 3px;
 margin-right: 3px;
 background: url(/pub/static/frontend/Sm/market/en_US/images/icon-image.png) -20px -272px no-repeat;
}

.art-cart-button a.towishlist{
    float: left;
    margin-right: 5px;
    display: inline-block;
    height: 30px;
    line-height: 28px;
    text-align: center;
    background: none;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(221, 221, 221) !important;
    border-image: initial !important;
    width: 30px;
}

.art-cart-button a.towishlist span,
.art-display-none,
.category-view table{ 
 display:none
}
.art-cart-button a.towishlist::before{
    content: "\f08a";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-kerning: auto;
    font-feature-settings: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    font-size: 14px;
    font-variant: normal normal;
}

.art-cart-button a.towishlist:hover::before{
    content: "\f004";
}

/*Mobile*/
@media screen and (max-width: 320px){ 

img.popularCategoryIcon{
    right:1%;
    top:102%;
    width:25px;
}
.popularCategories{
    font-size: 11px;
    height:30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}
}

@media screen and (min-width: 321px) and (max-width: 375px) { 

img.popularCategoryIcon{
    right:2%;
    top:102%;
   width:25px;
}
.popularCategories{
    font-size: 11px;
    height:30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}
}

@media screen and (max-width: 402px){ 
.products-grid .item .item-inner .box-info .bottom-action .art.btn-action.btn-cart{
    padding: 0 4px 0 4px !important;
}

.products-grid .item .item-inner .box-info .bottom-action .art.btn-action.btn-cart span{
   font-size:11px;
}
}

@media screen and (min-width: 376px) and (max-width: 425px) { 

img.popularCategoryIcon{
    right:3%;
    top:100%;
}
.popularCategories{
    font-size: 12px;
    height:30px;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
}
}

@media screen and (min-width: 425px)  and (max-width: 523px){ 

img.popularCategoryIcon{
    right:3%;
    top:100%;
}

.popularCategories{
    font-size: 13px;
    height:30px;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
}

}

@media screen and (min-width: 524px) and (max-width: 767px){ 

img.popularCategoryIcon{
    right:4%;
    top:100%;
}

.popularCategories{
    font-size: 13px;
    height:30px;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
}

}

@media screen and (max-width: 768px){
.breadcrumbs{
padding: 15px 0 0;
}

.page-main{
	padding:15px 0;
}

.checkout-payment-method .payment-methods{
	margin:0;
}
 .sidebar.sidebar-additional .block.products-sidebar{
  display:none;
 }

 
 .body-on-top .header-style-2 .header-middle .middle-right-content .minicart-header .minicart-content .cart-wrapper .minicart-wrapper .showcart{
	position: fixed;
    top: 5px;
    right: 17px;
 }
 
 .body-on-top .header-style-2 .header-middle .middle-right-content .minicart-header{
	 z-index:10007;
 }
 
 .body-on-top .cart-wrapper .mage-dropdown-dialog{
	position: fixed;
    top: 43px;
    right: 14px;
 }
}

@media screen and (max-width: 767px) and (orientation: landscape){
  .footer-container .socials-wrap{
   top:156px;
  }
}

/*Mobile & Tablet*/
@media screen and (max-width:1024px){

.static-image.popularCategoryCol a::before,
.static-image.popularCategoryCol a::after {
 background:none;
 transition:none;
-webkit-transition: none;
-moz-transition:none;
-o-transition:color 0 ease-in;
}

.static-image a:hover:before,
.static-image a:hover:after {
width:0%;
height:0%;
}

.block-viewed-products-list{
display:none;	
}
}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width:1024px){ 

.popularCategories{
    font-size: 13px;
}

.category-view .category-image{
   display:block;
}

}

/*Laptop*/

@media  only screen and (min-width: 1025px){

.category-view .category-image{
   display:block;
}

}

@media  only screen and (max-width: 1199px){

.fancybox-lock .menu-on-top {
  z-index: 9995;
}
.menu-on-top {
  width: 100%;
  position: fixed !important;
  left: 0;
  top: 0;
  z-index: 10006;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
}

.popularCategoryCol{
   padding: 0 1px 0 1px;
 margin:0;
}

.block-subscribe-home{
background-size:cover;
background-position: center;
}

/*------------Dept Prod Table------------*/
.body-dept
{
	vertical-align: top;
	text-align: center;
	padding: 0;
	margin: 0 0 10px 0;
}
.body-dept .top td,
.body-dept .bot td,
.body-dept .mid td
{
	vertical-align: middle;
}
.body-dept .first
{
	width: 130px;
	vertical-align: top;
	text-align: center;
	border: 1px solid #bbb;
	border-right: none;
	padding: 6px 6px 2px 6px;
}
.body-dept .last
{
	width: 86px;
	height: 20px;
	vertical-align: top;
	font: 400 12px/14px "Open Sans", verdana, helvetica,arial, sans-serif;
	color: #333;
	text-align: left;
	border-top: 1px solid #bbb;
	border-right: 1px solid #bbb;
	padding: 20px 7px 7px 0;
}
.body-dept .butrow
{
	text-align: left;
	border-bottom: 1px solid #bbb;
	border-right: 1px solid #bbb;
	padding: 0 0 8px 0;
}
.body-dept .gap, .body-dept .gap td
{
	width: 10px;
	height: 2px;
	vertical-align: top;
	border-left: none;
	padding: 0;
	margin: 0;
}
.body-dept .blank
{
	border: none;
}
.body-dept .name
{
	display: block;
	font: 14px/16px "Open Sans", verdana, helvetica, arial, sans-serif;
	color: #222;
	text-decoration: none;
	padding: 2px 0 4px 0;
}
.body-dept .name:hover
{
	color: #e31937;
	text-decoration: underline;
}
.link.seemore
{
	display: block;
	float: left;
	font: 500 12px "Open Sans Condensed", helvetica,arial, sans-serif;
	color: #555;
	background: #fff;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #d4d4d4;
	padding: 3px 14px 3px 6px;
}
.link.seemore:hover
{
	color: #fff;
	background: #888 url(../Images/butbk_seemore_f2.png) no-repeat 94% 6px;
	text-decoration: none;
	border: 1px solid #333;
}

.products-grid .item .item-inner .box-info .product-name a {
white-space:normal;
}

.products-grid .item .item-inner .box-info .product-name {
font-size: 112.67%;
text-align:center;
}
.toolbar{
border-top:0;
}

.body .name
{
	display: block;
	font: 600 13px/15px "Open Sans", verdana, helvetica, arial, sans-serif;
	color: #333;
	text-decoration: none;
	padding: 0 4px 2px 4px;
	margin: 0;
}
.body .name:hover
{
	color: #333;
	text-decoration: underline;
}

.link.seemore-sm
{
	height: 12px;
	width: 60px;
	font: 700 12px/13px "Open Sans Condensed", helvetica,arial, sans-serif;
	color: #555;
	background: #fff;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #d4d4d4;
	padding: 1px 6px 2px 6px;
	margin: 0 auto;
}
.link.seemore-sm:hover
{
	color: #fff;
	background: #e31937;
	text-decoration: none;
	border: 1px solid #333;
}

.info-box-detail .product-info-stock-sku .sku{
display:inline;
}
