@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
  .home-page-3{
    .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li a.sm_megamenu_head{
      padding: 10px;
    }

    .services-home .banner-policy .inner .policy a{
      padding: 20px 10px;
    }

    .static-image-6 .static-image-content .static-image{
      width: 28%;

      &:first-child,
      &:last-child{
        width: 36%;
      }
    }

    .collections .collect{
      width: 25%;

      &.collect5{
        display: none;
      }
    }

    .right-image-menu{
      margin:0;
    }
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .home-page-3{
    .static-image-5,
    .static-image-7{
      display: none;
    }

    .sidebar-megamenu{
      display: none;
    }

    .services-home .banner-policy .inner .policy{
      width: 50%;
      margin-bottom: 20px;

      &.policy3,
      &.policy4{
        margin-bottom: 10px;
      }
    }

    .static-image-6 .static-image-content .static-image{
      width: 28%;

      &:first-child,
      &:last-child{
        width: 36%;
      }
    }

    .collections .collect{
      display: block!important;
      width: 33.33%;
    }
  }
}

@media (max-width: 767px) {
  .home-page-3{
    .static-image-5,
    .static-image-7{
      display: none;
    }

    .sidebar-megamenu{
      display: none;
    }

    .services-home .banner-policy .inner .policy{
      width: 50%;
      margin-bottom: 20px;

      a{
        padding: 20px 10px;
      }

      &.policy3,
      &.policy4{
        margin-bottom: 10px;
      }
    }

    .static-image-6 .static-image-content .static-image{
      width: 28%;

      &:first-child,
      &:last-child{
        width: 36%;
      }
    }

    .collections .collect{
      display: block!important;
      width: 50%;
    }
  }
}

@media (max-width: 480px) {
  .home-page-3{
    .sidebar-megamenu{
      display: none;
    }

    .static-image-6 .static-image-content .static-image{
      width: 100%!important;
      margin-bottom: 20px;

      &:last-child{
        margin: 0;
      }

      img{
        width: 100%;
      }
    }

    .services-home .banner-policy .inner .policy{
      width: 100%;
      margin-bottom: 20px;
    }

    .static-image-6 .static-image-content .static-image{

    }

    .collections .collect{
      display: block!important;
      width: 100%;
    }
  }
}