<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<listingtabs>
			<general>
				<isactive>1</isactive>
				<display_title>1</display_title>
				<title>SM Listing Tabs</title>
				<target>_blank</target>
				<class_suffix>sp_listingtab</class_suffix>
				<nb_column1>3</nb_column1>
				<nb_column2>3</nb_column2>
				<nb_column3>3</nb_column3>
				<nb_column4>2</nb_column4>
				<nb_column5>1</nb_column5>
				<show_loadmore_slider>loadmore</show_loadmore_slider>
				<nb_rows>1</nb_rows>
			</general>
            <source>
                <filter_type>categories</filter_type>
                <product_category></product_category>
                <filter_order_by>name</filter_order_by>
                <field_preload>name</field_preload>
                <category_preload></category_preload>
                <child_category_products>1</child_category_products>
                <max_depth>1</max_depth>
                <product_featured>0</product_featured>
                <product_order_by>name</product_order_by>
                <product_order_dir>ASC</product_order_dir>
                <product_limitation>8</product_limitation>
            </source>
            <tabs_options>
                <tab_all_display>1</tab_all_display>
                <cat_title_maxlength>150</cat_title_maxlength>
                <category_order_by>name</category_order_by>
                <category_order_dir>ASC</category_order_dir>
                <icon_display>1</icon_display>
				<imgcfgcat_from_category_image>1</imgcfgcat_from_category_image>
                <imgcfgcat_from_category_description>1</imgcfgcat_from_category_description>
                <imgcfgcat_order>category_image,category_description</imgcfgcat_order>
                <imgcfgcat_function>1</imgcfgcat_function>
                <imgcfgcat_width>30</imgcfgcat_width>
                <imgcfgcat_height>30</imgcfgcat_height>
                <imgcfgcat_background>FFFFFF</imgcfgcat_background>
                <imgcfgcat_placeholder>sm/listingtabs/images/nophoto.jpg</imgcfgcat_placeholder>
            </tabs_options>		
			<product>
				<product_title_display>1</product_title_display>
				<product_title_maxlength>25</product_title_maxlength>
				<product_description_display>1</product_description_display>
				<product_description_maxlength>150</product_description_maxlength>
				<product_price_display>1</product_price_display>
				<product_reviews_count>1</product_reviews_count>
				<product_addcart_display>1</product_addcart_display>
				<product_addwishlist_display>1</product_addwishlist_display>
				<product_addcompare_display>1</product_addcompare_display>
				<product_readmore_display>1</product_readmore_display>
				<product_readmore_text>Details</product_readmore_text>
			</product>
			<image>
				<img_from_product_image>1</img_from_product_image>
				<img_from_product_description>1</img_from_product_description>
				<img_order>product_image, product_description</img_order>
				<img_function>1</img_function>
				<img_width>200</img_width>
				<img_height>200</img_height>
				<img_background>FFFFFF</img_background>
				<img_replacement>sm/listingtabs/images/nophoto.jpg</img_replacement>
			</image>
            <effect>
                <effect>fadeIn</effect>
                <duration>300</duration>
                <delay>600</delay>
                <nav>1</nav>
                <loop>1</loop>
                <margin>5</margin>
                <slideBy>1</slideBy>
                <autoplay>1</autoplay>
                <autoplayHoverPause>1</autoplayHoverPause>
                <autoplaySpeed>1000</autoplaySpeed>
                <navSpeed>1000</navSpeed>
                <smartSpeed>1000</smartSpeed>
                <startPosition>1</startPosition>
                <mouseDrag>1</mouseDrag>
                <touchDrag>1</touchDrag>
                <pullDrag>1</pullDrag>
            </effect>			
			<advanced>
				<pretext>Pretext</pretext>
				<posttext>Posttext</posttext>
				<use_cache>1</use_cache>
				<cache_time>3600</cache_time>
			</advanced>
		</listingtabs>
	</default>
</config>