<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<deals>
			<general>
				<isenabled>1</isenabled>
				<display_title>1</display_title>
				<title>SM Deals</title>
				<target>_blank</target>
				<use_slider>1</use_slider>
				<nb_rows>3</nb_rows>
				<nb_column1>4</nb_column1>
				<nb_column2>3</nb_column2>
				<nb_column3>3</nb_column3>
				<nb_column4>2</nb_column4>
				<nb_column5>1</nb_column5>
			</general>
			<source>
				<product_source>catalog</product_source>
				<product_category></product_category>
				<child_category_products>1</child_category_products>
				<max_depth>1</max_depth>
				<product_featured>0</product_featured>
				<product_order_by>entity_id</product_order_by>
				<product_order_dir>ASC</product_order_dir>
				<product_limitation>5</product_limitation>
				<product_ids></product_ids>
			</source>
			<product>
				<product_title_display>1</product_title_display>
				<product_title_maxlength>25</product_title_maxlength>
				<product_description_display>1</product_description_display>
				<product_description_maxlength>150</product_description_maxlength>
				<product_price_display>1</product_price_display>
				<product_reviews_count>1</product_reviews_count>
				<product_addcart_display>1</product_addcart_display>
				<product_addwishlist_display>1</product_addwishlist_display>
				<product_addcompare_display>1</product_addcompare_display>
				<product_readmore_display>1</product_readmore_display>
				<product_readmore_text>Details</product_readmore_text>
			</product>
			<image>
				<product_image_display>1</product_image_display>
				<img_from_product_image>1</img_from_product_image>
				<img_from_product_description>1</img_from_product_description>
				<img_order>product_image, product_description</img_order>
				<img_function>1</img_function>
				<img_width>270</img_width>
				<img_height>270</img_height>
				<img_background>FFFFFF</img_background>
				<img_replacement>sm/deals/images/nophoto.jpg</img_replacement>
			</image>
			<effect_options>
				<play>1</play>
				<start>1</start>
				<scroll>1</scroll>
				<duration>800</duration>
				<delay>800</delay>
				<stop>1</stop>
				<nav>1</nav>
				<loop>1</loop>
				<dots>0</dots>
				<margin>5</margin>
				<navSpeed>1000</navSpeed>
				<mouseDrag>1</mouseDrag>
				<dotsSpeed>1000</dotsSpeed>
				<autoHeight>0</autoHeight>
				<wide_box>boxed</wide_box>
			</effect_options>
			<advanced>
				<pretext>Pretext</pretext>
				<posttext>Posttext</posttext>
				<use_cache>1</use_cache>
				<cache_time>3600</cache_time>
			</advanced>
		</deals>
	</default>
</config>