<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="magentech" translate="label" sortOrder="1">
			<label>Magentech.com</label>
		</tab>
		<section id="imageslider" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
			<class>separator-top</class>
			<label>SM Image Slider</label>
			<tab>magentech</tab>
			<resource>Sm_ImageSlider::config_imageslider</resource>
			<group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General Settings</label>
				<field id="isenabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enabled Extensions</label>
					<validate>required-entry</validate>
					<source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
				</field>
				<field id="display_title" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Display Title</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="title" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Title</label>
				</field>
				<field id="target" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Target</label>
					<source_model>Sm\ImageSlider\Model\Config\Source\Target</source_model>
				</field>
				<field id="theme_display" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Theme</label>
					<source_model>Sm\ImageSlider\Model\Config\Source\Theme</source_model>
				</field>
				<field id="heading1" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>For devices have screen width from 768px up to greater.</label>
					<frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
				</field>
				<field id="nb_column1" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Column</label>
					<source_model>Sm\ImageSlider\Model\Config\Source\ColumnDevices</source_model>
				</field>
				<field id="heading2" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>For devices have screen width less than or equal 767px.</label>
					<frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
				</field>
				<field id="nb_column2" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Column</label>
					<source_model>Sm\ImageSlider\Model\Config\Source\ColumnDevices</source_model>
				</field>
			</group>

			<group id="source" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Source Options</label>
				<field id="product_additem" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Media Source</label>
					<backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
					<frontend_model>Sm\ImageSlider\Block\Adminhtml\System\Config\Form\Field\AddItem</frontend_model>
					<comment>Add Item</comment>
				</field>
			</group>

			<group id="product" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Product Options - For Theme 2</label>
				<field id="heading_prod_title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Product Title</label>
					<frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
				</field>
				<field id="product_title_display" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Display</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="product_title_maxlength" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Max Length</label>
					<validate>validate-greater-than-zero required-entry validate-number</validate>
				</field>
				<field id="heading_prod_desc" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Product Description</label>
					<frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
				</field>
				<field id="product_description_display" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Display</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="product_description_maxlength" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Max Length</label>
					<validate>validate-greater-than-zero required-entry validate-number</validate>
				</field>
			</group>

			<group id="image" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Image Options</label>
				<field id="img_function" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Resize</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="img_width" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Image Width</label>
					<validate>validate-greater-than-zero required-entry validate-number</validate>
				</field>
				<field id="img_height" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Image Height</label>
					<validate>validate-greater-than-zero required-entry validate-number</validate>
				</field>
				<field id="img_background" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Background Color</label>
					<validate>color</validate>
					<comment>Please Click the text box to select color.</comment>
				</field>
				<field id="img_replacement" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Image Replacement</label>
					<comment>Only when the product has no image, the module will take photos from placeholder to replace</comment>
				</field>
			</group>

			<group id="effect_options" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Effect Options</label>
				<field id="play" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Auto Play</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="start" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Start</label>
					<validate>validate-greater-than-zero required-entry validate-number</validate>
				</field>
				<field id="scroll" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Step</label>
					<validate>validate-greater-than-zero required-entry validate-number</validate>
				</field>
				<field id="duration" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Speed</label>
					<validate>validate-greater-than-zero required-entry validate-number</validate>
				</field>
				<field id="delay" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Interval</label>
					<validate>validate-greater-than-zero required-entry validate-number</validate>
				</field>
				<field id="stop" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Stop on Hover</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="nav" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Navigation</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="loop" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Loop</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="dots" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Dots</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="margin" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Margin-Right</label>
					<validate>required-entry validate-number</validate>
				</field>
				<field id="navSpeed" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Nav Speed</label>
					<validate>validate-greater-than-zero required-entry validate-number</validate>
				</field>
				<field id="mouseDrag" translate="label" type="select" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Mouse Drag</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="dotsSpeed" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Dots Speed</label>
					<validate>validate-greater-than-zero required-entry validate-number</validate>
				</field>
			</group>

			<group id="advanced" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Advanced Options</label>
				<!--<field id="include_jquery" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Include jQuery</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>-->
				<field id="pretext" translate="label" type="textarea" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Pre-text</label>
				</field>
				<field id="posttext" translate="label" type="textarea" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Post-text</label>
				</field>
				<field id="use_cache" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Caching</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>Select whether to cache the content of this module.</comment>
				</field>
				<field id="cache_time" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Cache Time</label>
					<validate>validate-greater-than-zero required-entry validate-number</validate>
					<comment>The time (in seconds) before the module is recached.</comment>
					<depends>
						<field id="use_cache">1</field>
					</depends>
				</field>
			</group>

			<group id="product_information" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Product Information</label>
				<field id="author" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label><![CDATA[<p>Author: <a target="_blank" title="Magentech" href="http://www.magentech.com">Magentech</a></p>
											<p>Vesion: 2.1.0</p>
											<p>Userguide: <a target="_blank" title="Usergide" href="http://www.magentech.com/documentation/sm-image-slider/">Userguide</a></p>
											<p>Support: <a target="_blank" href="http://www.magentech.com/forum">Forum</a></p>
								]]></label>
					<frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
				</field>
			</group>
		</section>
	</system>
</config>