@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
  .home-page-4{
    .image-slideshow{
      width: 75%;
      float: left;
    }

    .slider-deal{
      width: 25%;
      float: left;
    }

    .services-home .banner-policy .inner .policy a{
      padding: 20px 10px;
    }

    .collections .collect{
      width: 33.33%;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .home-page-4{

    .sm-deals.products-grid .item .item-inner .box-image{
      text-align: center;

      img{
        width: auto;
      }
    }

    .static-image a.image-top{
      margin-bottom: 17px;
    }

    .services-home .banner-policy .inner .policy{
      width: 50%;

      margin-top: 10px;
      margin-bottom: 10px;
    }

    .collections .collect{
      width: 33.33%;
    }
  }
}

@media (max-width: 767px) {
  .home-page-4{

    .sm-deals.products-grid .item .item-inner .box-image{
      text-align: center;

      img{
        width: auto;
      }
    }

    .services-home .banner-policy .inner .policy{
      width: 50%;
      margin-top: 10px;
      margin-bottom: 10px;

      a{
        padding: 20px 10px;
      }
    }

    .static-image-2{
      .static-image{
        float: left;
        width: 33.33%;

        a.image-top{
          margin-bottom: 11px;
        }
      }
    }

    .collections .collect{
      width: 50%;
    }
  }
}

@media (max-width: 480px) {
  .home-page-4{

    .sm-deals.products-grid .item .item-inner .box-image{
      img{
        width: 100%;
      }
    }

    .services-home .banner-policy .inner .policy{
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .static-image-2{
      .static-image{
        float: none;
        width: 100%;
        margin:10px 0;

        &:last-child{
          margin-bottom: 0;
        }

        &:first-child{
          margin-top: 0;
        }

        img{
          width: 100%;
        }
      }
    }

    .collections .collect{
      width: 100%;
    }
  }
}