<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magento\Widget\Block\Adminhtml\Widget\Chooser" type="Sm\MegaMenu\Block\Adminhtml\Widget\Chooser" />
	<preference for="Magento\Cms\Helper\Wysiwyg\Images" type="Sm\MegaMenu\Helper\Wysiwyg\Images" />
</config>