<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RmsInventoryImport.Properties.Settings.StoreDataConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=YarnDesignData;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>