<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RmsInventoryImport.Properties.Settings.StoreDataConnectionString"
            connectionString="Data Source=.\sql2008express;Initial Catalog=YarnDesignData;User ID=sa;Password=ARS98032zip!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>